---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Navbar from '../components/Navbar.astro';
const { children } = Astro.props;
import SectionHero from '../components/SectionHero.astro';
---

<!doctype html>
<html lang="tr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Navbar />
		<main>
			<SectionHero />
		</main>
		<Footer />
	</body>
</html>
