---
// Astro bileşeni, JS kullanılmaz ama etkileşim gerekiyorsa vanilla JS desteklenir
---

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff73;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #dddddd00;
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 999;
  }

  .logo {
    font-weight: bold;
    font-size: 1.2rem;
    max-width: 20%;
	height: auto;
	border-radius: 8px;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
  }

  .nav-links a {
    text-decoration: none;
    color: #283389;
    font-weight: 500;
     font-family: 'DynaPuff', sans-serif;
  }
 
  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: white;
      padding: 1rem 2rem;
      border-top: 1px solid #ccc;
    }

    .nav-links.open {
      display: flex;
    }

    .menu-toggle {
      display: block;
    }
 
  }
</style>

<nav>
  <div class="logo">
    <a href="/"><img src="public/images/yazilimnealaka-logo-500-line.png" /></a>
  </div>

  <button class="menu-toggle" onclick="document.querySelector('.nav-links').classList.toggle('open')">
    ☰
  </button>

  <div class="nav-links">
 
    <a href="/neden">Neden Yazılım Ne Alaka? </a>
    <a href="/gizli-sayfa">Gizli Sayfa</a>
    <a href="/bugun-ne-ogrendim">Bugün Ne Öğrendim?</a>
    <a href="/yapim-asamasinda">Sonraki Bölümler</a>
 
  </div>
</nav>
